.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #F55A5A;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  gap: 12px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  
}

.card {
  display: flex;
  align-items: center;
  color: #2B283A;
  padding: 24px;
  max-width: 600px;
}

.photo {
  width: 125px;
  height: 168px;
  margin: 24px;
  border-radius: 9px;
}

.content-side {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.content-header {
  display: flex;
  align-items: center;
  gap: 8px;
}

a {
  color: #918E9B;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 16px;
  background-color: #F55A5A;
  color: #FFFFFF;
  margin-top: auto;
}

.description {
  max-width: 500px;
  overflow-y: scroll;
}